/* Reset de estilos para eliminar márgenes y paddings predeterminados */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define el tamaño base de la fuente para facilitar cálculos en rem */
html{
    font-size: 62.5%;
}

/* Estilos generales del contenedor principal */
main{
    display: grid;
    background-color: aqua;
    margin: 0 auto;
    padding: 30px;
    height: 100vh;
}

.cabeza{
    display: grid;
    grid-template-columns:  1fr 3fr;
    grid-template-rows: 1fr;
    height: 20vh;
    padding: 10px 80px;
}

.comentario{ 
    width: 100%;
    margin-bottom: 20px;
}

.burbuja{
    position: relative;
    background-color: #fff;
    padding: 20px;
    color: #222;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: -30px;
    border-radius: 10px;
    border: solid rgb(222, 201, 201);
}

/* Estilos del texto dentro de la burbuja */
p{     
    margin: 0 0 10px 0;
    font-size: 3rem;
    text-align: center;
    color: rgb(237, 9, 9);   
    object-fit: contain;
}

/* Flecha decorativa de la burbuja */
.burbuja:after{
    content: "";
    position: absolute;
    top: 15px;
    margin-left: -45px;
    width: 0;
    height: 0;
    border-top:18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right:  25px solid  #fff;    
}

/* Imagen del personaje computador*/
.comp{   
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* Contenedor de las imágenes de las opciones del juego */
.images{
    display: grid;
    height: 40vh;
    background-color: transparent;   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 20px;
}

/* Estilos generales para todas las imágenes */
img {
    width: 85%;
    height: 90%;
    object-fit: contain;
}

/* Centra el elemento  */
.paper .scissors .rock{
    display: grid;
    justify-items: center;
}

/* Ajusta el tamaño de la imagen  */
#idPaper, #idScissors{
    width: 50%;
} 
#idRock {
    width: 60%;
}

.score {
    text-align: center;
    font-size: 2rem;    
}

.counters-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
  }

  .score p{
    margin-left: 30rem;
    margin-right: 30rem;
    color: rgb(9, 57, 21);
  }

 #reboot{ 
    text-align: center;       
  }

  button {   
    padding: 10px 20px;
    font-size: 2rem;
    background-color: rgb(219, 100, 100);   
    cursor: pointer;
    border-radius: 10%;
    transition: background-color 0.3s ease;
  }